.navbar-header {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

li {
  padding-right: 30px;
  position: relative;
}

body {
  background-color: #5C5D5E;
}

#title {
  font-family: 'Syncopate', sans-serif;
  color: blue;
}

#fbsignin {
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
}

.jumbotron{
  background-color: #F6D253
}

.wrapper {
  margin: 50px auto 0;
  width: 450px;
}

.board {
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 10px;
}

.board button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
}

button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
}

button.yellow {
  background: #b5ac13;
  background: linear-gradient(to bottom, #efe63e 0%, #b5ac13 100%);
}

#follow button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
}


.player {
  text-transform: capitalize;
}

.info .red {
  color: red;
}
#follow {
  position: absolute;
}
.info .black {
  color: black;
}

.play-again {
  display: none;
}

.play-again {
  display: inline-block;
  margin-bottom: 2em;
  height: 40px;
  line-height: 40px;
  width: 50%;
  background: mediumseagreen;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  opacity: 0.9;
}

#player{
  font-family: 'Syncopate', sans-serif;
  color: white;
}

.play-again:hover {
  opacity: 1;
}

@media (max-width: 460px) {
  .message {
    font-size: 1.3em;
  }
  .wrapper {
    margin: 20px auto 0;
    width: 240px;
  }
  .board button {
    width: 30px;
    height: 30px;
  }
}
