{{#if session.isAuthenticated}}
  {{game-board}}
{{else}}
  <div class="containter text-center">
    <h1 class="text-center" id="fbsignin">Sign in with Facebook</h1>
    <a {{action "signIn" "facebook"}}><img style="display:inline-block" class="img-responsive" src="https://www.facebook.com/images/fb_icon_325x325.png"></a>
  </div>
{{/if}}


{{outlet}}
