{{#if session.isAuthenticated}}
  {{game-board}}
{{else}}
<div class="header-content">
        <!-- <div class="header-content-inner"> -->
  <div class="containter text-center">
    <h1 id="fbsignin">Connect<strong><em>4</em></strong></h1>
    <a {{action "signIn" "facebook"}}><img src="assets/fbloginbutton.png" width='275' height ='100'></a>
  </div>
</div>
{{/if}}


{{outlet}}
