{{#if session.isAuthenticated}}
  <h1 align="center">TYPER</h1>

  <div class="wrapper">
		<h1>Welcome {{session.currentUser.displayName}}</h1>
		<h5>Opponent: <span>someoppenent</span></h5>
		<button>START</button>
		<div class="outerWrap">
			<div class="scoreWrap">
				<p>Score</p>
				<span class="score">0</span>
			</div>
			<div class="timeWrap">
				<p>Time left</p>
				<span class="time">60</span>
			</div>
		</div>
		<div class="wordsWrap">
			<p class="words"></p>
		</div>
	</div>
{{else}}
  <h1 align="center">Please sign in...</h1>
{{/if}}


{{outlet}}
