{{#if session.isAuthenticated}}
  <h1 align="center">TYPER</h1>

  <!-- player labels -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h1 align="center">{{model}}</h1>
        </div>
        <div class="col-sm-4">
          <!--<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2PXdUld4Ueio2pHcB6sM8j&theme=white" width="400" height="200" frameborder="0" allowtransparency="true"></iframe>
          -->
          <p align="center"></p>
        </div>
        <div class="col-sm-4">
          <h1 align="center"></h1>
        </div>
      </div>
  </div>

  <!-- player labels -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1 align="center">{{session.currentUser.displayName}}</h1>
        </div>
        <div class="col-lg-6">
          <h1 align="center">Player 2</h1>
        </div>
      </div>
  </div>


  <div class="container-fluid">
      <div class="row">
        <div id="player1" class="player col-lg-6">
        </div>
        <div id="player2" class="player col-lg-6">
        </div>
      </div>
  </div>
{{else}}
  <h1 align="center">Please sign in...</h1>
{{/if}}


{{outlet}}
